/* Loading Screen*/

#loading-container {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  background-color: rgba(0, 0, 0, .95);
}

#loading-container > p {
  color: #fff;
  font-size: 32px;
  font-family: var(--righteous);
}

#loading-gif {
  background-image: url('https://i.imgur.com/8H74tL7.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #090913;
  border-radius: 4px;
  outline: 1px solid #fff;
  width: 272px;
  height: 272px;
  max-width: 80vw;
}

/* End Loading Screen */